experiment_tracking/
data_governance/
.dvc/
.dvcignore
*.egg-info/
__pycache__/
.ipynb_checkpoints/
.vscode/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
*.swp
.DS_Store
*.log
*.sqlite3
*.db
*.bak
*.tmp
*.out
mlruns/
mlartifacts/
myvenv/